.hero {
  position: relative;
  // @media (min-width: toRem(1024)) {
  border-bottom-left-radius: toRem(16);
  border-bottom-right-radius: toRem(16);
  // }
  overflow: hidden;
  // .hero__slider

  &__slider {
    background-color: var(--black);
  }

  // .hero__slider-wrapper

  &__slider-wrapper {
    display: flex;
  }

  // .hero__slide

  &__slide {
    pointer-events: none;

    flex: 0 0 100vw;
    position: relative;
    height: var(--vh);
    @media (min-width: toRem(1024)) {
      min-height: toRem(820);
    }
    &.swiper-slide-active {
      pointer-events: auto;
    }
  }

  // .hero__slide-body

  &__slide-body {
    height: 100%;
    padding-top: toRem(204);
    padding-bottom: toRem(26);

    @media (max-width: toRem(1024)) {
      padding-top: toRem(191);
    }
  }

  // .hero__title

  &__title {
    position: relative;
    max-width: toRem(863);
    margin-bottom: toRem(24);
  }

  // .hero__title-underline

  &__title-underline {
    position: absolute;
    right: toRem(59);
    bottom: toRem(-38);
    @include adaptiveValue("width", 178, 82);
    @include adaptiveValue("height", 18, 12);
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: toRem(991)) {
      right: toRem(15);
      bottom: toRem(-20);
    }
  }

  // .hero__subtitle

  &__subtitle {
    color: var(--text-white);
    line-height: 140%;
    max-width: toRem(470);
    letter-spacing: -1%;
    margin-bottom: toRem(32);
    font-size: toRem(18);
    @media (max-width: toRem(1024)) {
      margin-bottom: toRem(24);
      font-size: toRem(16);
    }
  }

  // .hero__button

  &__button {
  }

  // .hero__button-text

  &__button-text {
  }

  // .hero__button-icon

  &__button-icon {
  }

  // .hero__slide-background

  &__slide-background {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: var(--black);
      opacity: 0.4;
      z-index: -1;
    }
    & video,
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      object-fit: cover;
    }
  }

  // .hero__pagination

  &__pagination {
    position: absolute;
    display: flex;
    column-gap: toRem(4);
    bottom: toRem(61);
    // max-width: toRem(1000);
    left: 50%;
    transform: translateX(-50%);
    max-width: 100vw;
    @include adaptiveValue("bottom", 61, 48, 0, 1024, 320);

    @media (max-width: toRem(1024)) {
      width: calc(100% - 40px);
    }
  }
  // .hero__pagination-card
  &__pagination-card {
    position: relative;
    flex: 1 1 auto;
    &.active {
      .hero__pagination-body {
        background-color: var(--bg-white);
        color: var(--text-primary);
        width: toRem(270);

        &:hover {
          box-shadow: 0px 0px 40px 16px rgba(255, 255, 255, 0);
          cursor: inherit;
        }
      }

      .hero__pagination-left {
        // padding: toRem(8) toRem(12) toRem(12) toRem(10);
      }

      .hero__pagination-num {
        border: 1px solid #d5af6299;
      }

      .hero__pagination-title {
      }

      .hero__pagination-thumb {
        width: toRem(124);
        height: toRem(130);
        border-radius: toRem(16);
        max-width: toRem(124);
      }
    }
  }

  // .hero__pagination-body

  &__pagination-body {
    display: flex;
    border-radius: toRem(20);
    border: 1px solid var(--white-50, #ffffff0f);
    background: var(--white-100, #ffffff1f);
    padding: toRem(4);
    width: toRem(144);
    height: toRem(138);
    backdrop-filter: blur(16px);
    cursor: pointer;

    overflow: visible;

    color: var(--text-white);

    transition: box-shadow 0.5s, width 0.3s ease, height 0.3s ease,
      background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 0px 40px 16px rgba(255, 255, 255, 0.15);
      }
    }
    @media (max-width: toRem(1024)) {
      display: none;
    }
  }

  // .hero__pagination-left
  &__pagination-left {
    // flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // Начальный padding
    padding: toRem(12) toRem(26) toRem(20) toRem(10);
    transition: padding 0.3s ease;
  }

  // .hero__pagination-num
  &__pagination-num {
    border-radius: 50%;
    border: 1px solid var(--white-100, #ffffff1f);
    background: var(--white-100, #ffffff1f);
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(32);
    height: toRem(32);
    font-size: toRem(15);
    font-family: "GT Eesti Pro Text";
    transition: border-color 0.3s ease, background 0.3s ease;
    line-height: 100%;
    padding-top: toRem(2);
  }

  // .hero__pagination-title
  &__pagination-title {
    font-size: toRem(12);
    line-height: 120%;
    max-width: toRem(100);
    padding: 0 toRem(4);
  }

  // .hero__pagination-thumb
  &__pagination-thumb {
    position: relative;
    top: -1px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: toRem(20);
    overflow: hidden;

    transition: width 0.3s ease, height 0.3s ease, flex-basis 0.3s ease,
      border-radius 0.3s ease;
  }

  &__pagination-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: toRem(124);
    min-height: toRem(130);
    object-fit: cover;
  }
  // .hero__pagination-progress-wrapper

  &__pagination-progress-wrapper {
    position: absolute;
    left: 0;
    background: var(--white-100, #ffffff1f);
    bottom: toRem(-20);
    width: 100%;
    height: toRem(4);
    border-radius: toRem(4);
    backdrop-filter: blur(4px);
    overflow: hidden;
  }

  // .hero__pagination-progress

  &__pagination-progress {
    height: 100%;
    width: 0;
    background: var(--bg-white);
    opacity: 0.9;
  }
}
