// если вы хотите использовать sass-переменные - удалите root
@import "mixins";
// colors
:root {
  // base
  --font-family: "KyivType Sans";
  --content-width: #{toRem(1360)};
  --container-offset: #{toRem(20)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --text-white: #fff;
  --black: #000;
}
